* {
    margin: 0px auto;
    padding: 0px;
}

.wrapper {
    height: 800px;
    width: 960px;
    font-family: 'Times New Roman', Times, serif;
}
.nav {
    height: 50px ;
    width: 100%;
    background-color: rgb(231, 134, 231)
}

.header {
    height: 150px;
    width: 100%;
    background-color: aqua;
}

.section {
    height: 520px;
    width: 70%;
    float: left;
    background-color: aquamarine;
}

.aside {
    height: 510px;
    width: 29%;
    float: right;
    border: 5px solid gray;  
    
}

.content {
    height: 520px;
    width: 50%;
    float: left;
}

.form {
    height: 320px;
    width: 49%;
    float: left;
    
    border: 2px solid;
    
}
.menu li{
    height: 50px;
    width: 120px;
    float: left;
    text-indent: 30px;
    line-height: 50px;
    list-style-type: none;
}

.menu1 li {
    height: 50px;
    text-indent: 10px;
    line-height: 50px;
    float: right;
    list-style-type: none;
}

li a{
    
    text-decoration: none;
}

.menu li a:hover{
    color: yellow;
}
.aside img{
    height: 100px;
    width: 100%;
}
.footer {
    height: 80px;
    width: 100%;
    background-color: rgb(156, 224, 19);
    clear: both;
}

.aside p {
    color: red;
    font-size: 20px;
    text-align: center;
}

